@import "tailwindcss";

.btn-primary {
  @apply rounded px-4 py-2 bg-sky-400 text-neutral-50 rounded-sm text-base font-semibold cursor-pointer;
}

.input-primary {
  @apply rounded border px-4 py-2 rounded-sm text-base font-normal w-full;
}

.leaflet-control-layers {
  padding: 0.5rem;
}

.leaflet-control-layers-base {
  padding: 1rem;

  :last-child {
    margin-bottom: 0;
  }
}

.leaflet-control-layers-base label {
  margin-bottom: 0.5rem;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  left: 50%;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
}

.leaflet-routing-alt table {
  border-collapse: separate;
  border-spacing: 0.5rem;
  align-items: start;
}

.leaflet-routing-alt tbody > tr {
  vertical-align: baseline;
}

.leaflet-routing-alt {
  max-height: 500px;

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }
}
